<div class="page-header">
  <h1>Mensajes Usuario<small>...</small></h1>
</div>
<div class="alert alert-info alert-dismissible" role="alert" ng-show="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  {{alert}}
</div>
<div id="name">
  <accordion>
    <accordion-group heading="Nuevo Mensaje">
      <form name="mensajeFrm" action="">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input class="form-control" type="text" name="titulo" placeholder="Titulo"
          ng-model="mensaje.titulo" required>
        </div>
        <div class="form-group">
          <label for="">Destinatarios</label>
          <tags-input ng-model="mensaje.destinatarios" display-property="nombre"
          placeholder="Destinatarios" addFromAutocompleteOnly="true" required>
          <auto-complete source="getUsuarios($query)"></auto-complete></tags-input>
        </div>
        <div class="form-group">
          <label for="mensaje">Mensaje</label>
          <textarea class="form-control" name="mensaje" placeholder="Nuevo Mensaje"
          ng-model="mensaje.mensaje" required></textarea>
        </div>
        <button name="submit" ng-click="nuevoMensaje()" class="btn btn-primary"
        ng-class="{'disabled' : mensajeFrm.$invalid}">Enviar</button>
      </form>
    </accordion-group>
  </accordion>

</div>

<hr>
<div class="panel panel-default" ng-repeat="mensaje in mensajes">
  <div class="panel-heading">
    <h3 class="panel-title">{{mensaje.titulo}}</h3> De: {{mensaje.de}}
  </div>
  <div class="panel-body">
    {{mensaje.mensaje}}
    <hr>
    <ul class="list-group" ng-repeat="respuesta in mensaje.respuestas">
      <li class="list-group-item">Respuesta de: {{respuesta.de}}: "{{respuesta.respuesta}}"</li>
    </ul>
    <small>Responder</small>
    <form name="respuesta{{mensaje._id}}" ng-submit="responder(mensaje, respuesta)">
      <textarea class="form-control" name="respuesta" rows="3" ng-model="respuesta" required>
      </textarea>
      <input class="btn btn-primary" type="submit" value="Responder" ng-class="{disabled : respuesta{{mensaje._id}}.$invalid}">
    </form>
  </div>
</div>
